
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav class="navbarmy " th:fragment="topnav" id="navtag">

  <span class="open-slider">
    <a href="JavaScript:void(0);" onclick="openSlideMenu()">
      <svg width="30" height="30" color="black">
        <path d="M0,5 30,5"
        stroke="#fff"
        stroke-width="5"/>
        <path d="M0,14 30,14"
        stroke="#fff"
        stroke-width="5"/>
        <path d="M0,23 30,23"
        stroke="#fff"
        stroke-width="5"/>
      </svg>
    </a>

<a>
<form  class="form-searchmy" action="/search" >
       <input id="search-querymy" class="searchtermmy" type="text" placeholder="Search....." required="" autocomplete="off" />
        <button class="searchbtn" type="submit"><i class="fa fa-search"></i></button>
      </form>
  </a>
  </span>



      
       <ul class="navbarmiddle-nav ">

    <li class="bottomdec"><a href="/"><i class="fa fa-home ic"></i>Home</a></li> 
    <li class="bottomdec"><a href="JavaScript:void(0);"><i class="fa fa-bell-o ic"></i>Notification</a></li>
    <div class="dropdown-dd-top"><button class="dropbtn" id="tagdd"><i class="fa fa-anchor ic" aria-hidden="true"></i>Tags<i class="fa fa-caret-down" aria-hidden="true"></i></button>
      <div class="dropdown-content" id="tagdds">
      <a href="JavaScript:void(0);"><i class="fa fa-star-half-o"></i>comparision</a>
      <a href="JavaScript:void(0);"><i class="fa fa-star-o"></i>static</a>
      

    </div>
    </div>

<div class="dropdown-dd-top"><button class="dropbtn" id="sugdd"><i class="fa fa-umbrella ic" aria-hidden="true"></i>Suggestion<i class="fa fa-caret-down" aria-hidden="true"></i></button>
      <div class="dropdown-content" id="sugdds">
      <a href="/user/suggestion"><i class="fa fa-user-plus"></i>UserSuggestion</a>
      <a href="JavaScript:void(0);"><i class="fa fa-universal-access"></i>PageSuggestion</a>
      

    </div>
    </div>

    <div class=" dropdown-dd-top"><button class="dropbtn" id="profiledd"> <i class="fa fa-user-circle ic"></i>Profile<i class="fa fa-caret-down" aria-hidden="true"></i></button>
      
      <div class="dropdown-content" id="profiledds">
      <a href="/user"><i class="fa fa-user-o"></i>MyProfile</a>
      <a href="/logoutt"><i class="fa fa-sign-out"></i>Logout</a>
      <a href="/PassReset"><i class="fa fa-recycle"></i>ResetPassword</a>
       <a href="/allFolios"><i class="fa fa-briefcase"></i>Folio</a>

    </div>
    
    </div>
  </ul>

</nav>

<script>
    window.onscroll = function () {myfunction()
        
    };

    var header = document.getElementById("navtag");
    var sticky = header.offsetTop;

    function myfunction() {
        if (window.pageYOffset > sticky){
            header.classList.add("sticky");
        }else {
            header.classList.remove("sticky");
        }
        
    }
</script>

  





<div id="side-menu" class="side-nav" th:fragment="sidenav">

    <div class="sidenav-top">
        <a href="JavaScript:void(0);" class="btn-close" onclick="closeSideMenu()"><i class="material-icons">cancel</i></a>
        <a href="JavaScript:void(0);" class="userinfo-side">
            <center>
                <img th:if="${userlist != null}" th:src="'https://s3-ap-southeast-1.amazonaws.com/summed-s3-bucket/'+${userlist.image}"/>
                <h5 th:if="${userlist != null}" th:text="${userlist.name}"></h5>
            </center>
        </a>
        <a href="/logoutt" class="logoutbtn"><i class="fa fa-sign-out"></i>logout</a>
    </div>
    <div class="sidenav-middle">
        <a href="/"><i class="fa fa-home"></i>Home</a>
        <hr>
        <a href="JavaScript:void(0);"><i class="fa fa-bell-o"></i>Notification</a>
        <hr>
        <a href="JavaScript:void(0);" class="setting-dd"><i class="fa fa-tags"></i>Tags<i class="fa fa-sort-desc"></i></a>
        <div class="dropdown-settings">
            <a href="JavaScript:void(0);"><i class="fa fa-star-half-o"></i>Comparision</a>
            <a href="JavaScript:void(0);"><i class="fa fa-star-o"></i>Static</a>
        </div>
        <hr>
        <a href="JavaScript:void(0);" class="setting-dd" id="setting-id"><i class="fa fa-gears"></i> Settings <i class="fa fa-sort-desc"></i></a>
        <div class="dropdown-settings">
            <a href="/PassReset"><i class="fa fa-recycle"></i>Change-Password</a>
            <a href="JavaScript:void(0);"><i class="fa fa-lock"></i>Privacy</a>
            <a href="JavaScript:void(0);"><i class="fa fa-question-circle-o"></i>About! Us</a>
        </div>
        <hr>
        <a href="JavaScript:void(0);" class="setting-dd" ><i class="fa fa-umbrella"></i>Suggestion <i class="fa fa-sort-desc"></i></a>
        <div class="dropdown-settings">
            <a href="/user/suggestion"><i class="fa fa-user-plus"></i>UserSuggestion</a>
            <a href="JavaScript:void(0);"><i class="fa fa-universal-access"></i>PageSuggestion</a>
        </div>
    </div>
</div>
</body>
</html>