<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   
                   

    
</head>
<body>

<div th:fragment="popup">
<div class="box" style="display: none">
  <a class="button" href="#popup1" id="popups">Let me Pop up</a>
</div>

<div id="popup1" class="overlay">
  <div class="popup">
    <h2>your</h2>
    <a class="close" href="JavaScript:void(0);" id="popclose">&times;</a>
    <div class="content" id="popcontent">
      
    </div>
  </div>
</div>
</div>

</body>
</html>