
*{
    margin: 0px;
    padding: 0px;
}



@font-face { font-family: DosisMedium; src: url('http://localhost:5000/fonts/Dosis-Medium.ttf'); }
@font-face { font-family: DosisBold; src: url('http://localhost:5000/fonts/Dosis-Bold.ttf'); }
@font-face { font-family: DosisLight; src: url('http://localhost:5000/fonts/Dosis-Light.ttf'); }
@font-face { font-family: DosisExtraLight; src: url('http://localhost:5000/fonts/Dosis-ExtraLight.ttf'); }
@font-face { font-family: DosisExtraBold; src: url('http://localhost:5000/fonts/Dosis-ExtraBold.ttf'); }

body{
  	
  	
    font-family: DosisBold, Fallback, sans-serif!important;
  }

  .navbarmy {
      background-color: #ff5252;
      overflow: hidden;
      height: 45px;
      position: fixed;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      width: 100%;
      top: 0;
  }

  .sticky{
      position: fixed;
      top:0 ;
      width: 100%;
  }

  .sticky+ .container{
      padding-top: 0px;
  }
      
      /*z-index: 9999;*/



  .navbarmy a{
  	float: left;
  	display: block;
  	color: #F8F8F8;
      font-family: DosisMedium, Fallback, sans-serif!important;
    font-weight: 400;
  	text-align: center;
      font-size: 14px;
  	text-decoration: none;
  	border-bottom: 0 white solid;
      padding: 17px 27px 5px 30px;
      transition: border-bottom-width .1s linear;
    margin-top: -6px;
    letter-spacing: 1px;
  }
.ic{
  left: 100px;
  margin-right: 7px;
    color: white !important;

}

.icn{
    color: #333 !important;
    margin-right: 7px;
}


  .navbarmy .navbarmiddle-nav .bottomdec a:hover{
    
    color: white;
     border-bottom-width: 3px;
  }

  .navbarmy  ul{
      list-style: none;
      margin: 6px 0 0 870px;
      position: relative !important;
  }

  .navbarmiddle-nav {
  	margin-left: 300px;
  }


.caret-down{
  color: #fff;
}




.dropdown-dd-top {
	float: left;
    overflow: hidden;
}

 .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #F8F8F8;
     font-family: DosisMedium, Fallback, sans-serif!important;
     font-weight: 500;
    padding: 14px 16px;
    background-color: inherit;
        padding-left: 30px;
 margin-top: -5px;
border-bottom: 0 white solid;
    padding-bottom: 7.6px;
    cursor: pointer;
     letter-spacing: 1px;
    transition: border-bottom-width .1s linear;
    
}



.dropdown-content {
    display: none;
    position: absolute !important;
    background-color: white;
    min-width: 170px;
    margin-left: -31px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;
    z-index: 1;
    padding: 10px 0px 10px 0px;
    color: rgb(28, 28, 28);
}


.dropdown-content a {
    float: none;
    color: rgb(28, 28, 28) !important;
    padding-bottom: 37px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
     padding-top: 13px;
     background-color: white;
    border-bottom: 0 #F9A0A0 solid;
  	padding-bottom:10px;
    transition: border-bottom-width .1s linear;
}
.dropdown-content a i{
  margin-right: 10px !important;
}

.dropdown-content a:hover {
    background-color: #00B4CC ;
    color: white;
}
.dropdown-dd-top:hover .dropbtn {
 color: white;
     border-bottom-width: 2.5px;}






  .side-nav{
  	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: rgb(255, 255, 255);
  	font-family: DosisMedium, Fallback, sans-serif;
  	overflow-x: hidden;
  	padding-top: 30px;
  	transition: 0.5s;
  	box-shadow: 0px 15px 20px rgba(0,0,0,0.2);

  }

  .sidenav-middle{
    margin-top: 30px !important;
    padding-bottom: 10px;
  }

  .side-nav .sidenav-middle a{
  	padding:10px 10px 0px 30px;
  	text-decoration: none;
     font-size: 13.5px ;
    font-weight: 400;
      font-family:inherit!important;
      color: hsl(0, 0%, 53.3%);
  	display: block;
  	transition: 0.3s;
    margin-bottom: 1px;
    letter-spacing: 1.4px;
    background-color:  rgb(255, 255, 255);

    /*box-shadow: 0px 2px 3px #ccc;*/
  }


  .sidenav-middle i{
      padding-right: 30px;
      padding-bottom: 15px;
      font-size: 19px;
      color:#00B4CC ;
      text-shadow: 1px 1px 1px #000000;
  }


  .sidenav-middle .fa-sort-desc{
    font-size: 12px;
    color: hsl(0, 0%, 53.3%);
  }

.sidenav-top .fa-sign-out{
  padding-right: 30px;
      padding-bottom: 18px;
      font-size: 30px;
      text-shadow: 2px 2px 4px #000000;
}

  .side-nav .sidenav-middle a:hover{
     background-color:  #FCF6F6;
  }

  .side-nav .sidenav-middle a:focus{
     background-color:  #F4D9D9;
  }

  .side-nav .sidenav-top .btn-close{
  	position:absolute;
  	top: 0;
  	right: 22px;
  	font-size: 25px;
  	margin-left: 50px;
  	text-decoration: none;
  }


.sidenav-top .btn-close i{
  border-radius: 50%;
  
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 5px;
    margin-top: 10px;
    margin-right: -10px !important;
    cursor: pointer;
    background-color: white; 
    color: #00B4CC; 
}

.sidenav-top .btn-close i:hover{
   font-size: 26px;
   transition: 0.5s;
  color: brown;
}
  .side-nav .sidenav-top img{
      height: 70px;
      width: 70px;
   border-radius: 35px; 
  }

   .side-nav .sidenav-top {
    background-color:  rgb(255, 255, 255);
    box-shadow: 0px 2px 3px #ccc;
    padding: 25px;
    margin-bottom: 5px;
      
  }
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}
  .sidenav-top .userinfo-side {
    margin-left: -22px;
  text-decoration: none !important;
  	font-size: 17px;
  	color: #391B1B;
  	display: block;
  	padding-bottom: 25px;
  	border-bottom: 0 #F9A0A0 solid;
  	padding-bottom:10px;
    transition: border-bottom-width .1s linear;
  }

.sidenav-top .userinfo-side:hover{
   border-bottom-width: 3.5px;
}

.userinfo-side h5{
  line-height: 1;
    font-size: 15px;

}

.sidenav-top .logoutbtn{
	text-decoration: none;
	color: #00B4CC;
}

.sidenav-top .logoutbtn:hover{
     color: #F9A0A0;
}

  .dropdown-settings {
    display: none;
    margin: 0;
    padding-left: 15px;
    padding-bottom: 5px;
     text-align: left;
}

.dropdown-settings a{
	border-bottom: 0 #F9A0A0 solid;
  	padding-bottom:0px !important;
    transition: border-bottom-width .1s linear;
     font-size: 12px !important;
     line-height: 1;
     padding-top: 5px !important;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     background-color: #fff;
     
}

.dropdown-settings a i{
  color: rgb(28, 28, 28);
  margin-right: -5px;
}
.dropdown-settings a:hover, .dropdown-settings a:hover i{
	  background-color: #00B4CC !important;
    color: white !important;

}
   .fa-sort-desc{
    float: right;
    padding-right: 8px;

}
  #main{
  	transition: margin-left 0.5s;
  	/*padding: 20px;*/
  	overflow: hidden;
  	width: 100%;
  }



.form-searchmy {
  width: 270px;
}


.form-searchmy  input{
  
  position:  relative;
  background :none;
  font-size: 13px;
 /* font-weight: bold;*/
  line-height: 1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border:none;
    width: 90%;
    border-bottom: 1.5px solid #fff;
      /* z-index: 2;*/
       color: white !important;
       padding: 3px;

}

.form-searchmy input:focus,
.form-searchmy  input:valid{
  outline: none !important;
  border-bottom: 4px solid #fff;
border-top: none;
border-left: none;
border-right: none;

}











  .form-searchmy .searchbtn{
       position: absolute;
       width: 50px;
       height: 30px !important;
       background-color: transparent;
       border: 1px solid transparent;
       text-align: center;
       cursor: pointer;
       font-size: 16px;
        border-radius: 0px 6px 6px 0px;
        margin-left: -35px;
        margin-top: -5px;
      
  }

  .searchbtn .fa-search{
    color: #fff;
  }

.searchtermmy:focus{
	color: #00B4CC;
	border: 3px solid #fff;
}

@media only screen and (max-width: 365px) {
   
.form-searchmy input{
    
      float: left;
     max-width: 175px;
     padding: 8px;
     font-size: 13px;
     outline: none;
     height: 30px;
     margin-top: -55px;
     margin-left: 60px;
  }

   .form-searchmy .searchbtn{
    margin-left: 65px;
     margin-top: -55px;
   }
 

}

@media only screen and (min-width: 330px) {
    


.form-searchmy input{
    
      float: left;
     max-width: 215px;
     padding: 8px;
     font-size: 13px;
     outline: none;
     height: 30px;
     margin-top: -55px;
     margin-left: 60px;
  }

   .form-searchmy .searchbtn{
    margin-left: 104px;
     margin-top: -55px;
   }

}

  @media(min-width: 450px){

  	.navbarmiddle-nav{
  		
  	}

.form-searchmy  input{
  

      float: left;
     max-width: 225px;
     padding: 8px;
     font-size: 13px;
     outline: none;
     height: 30px;
     margin-top: -5px;
     margin-left: 10px;
}

 .form-searchmy .searchbtn{
    margin-left: -50px;
     margin-top: -6px;
   }

  }

@media(max-width: 650px){



	/*.navbarmy  ul{
  	margin: 6px 0 0 0;
  	list-style: none;
  	margin-left: 470px;
  }*/
  	
  }






