
.rightDiv{

    background-color: white;
    position: sticky;
    border-radius: 2px;
    height: 400px;
    top: 50px !important;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}

@media(max-width: 1000px) {

    .rightDiv{
        display: none;
    }
}

@media only screen and (max-width: 490px) {

    .rightDiv{
        display: none;
    }

}