<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<br><br><br><br><br><br>
<div class="container" style="background-color: lightskyblue">
    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3">


    <div class="modal-content">
        <div class="modal-header">

            <h3>Verify Your Email for you Password Reset </h3>

        </div>
        <div class="modal-body">
            <form action="/forgetPass" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="fcode" placeholder="Verification Code">
                    <input role="button" type="submit" value="Confirm">
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <a href="/forgetPass"><button class="btn btn-warning">SendAgain</button></a>
        </div>
</div>
</div>
</div>
</body>
<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</html>